@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Modak&family=Pixelify+Sans&family=Sniglet&display=swap');

/* HOME PAGE STYLING */

body {
    margin: 0;
    background: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: black;
}

h1 a {
    text-align: center;
    color: rgb(179, 179, 173);
    text-decoration: none;
    font-family: "Modak", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.landingButtons {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 90vh;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
}

.landingButtons a {
    font-size: 2.5em;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(11, 11, 11);
    border-radius: 10px;
    border: white solid 1px;
}

.homeLink {
    border: solid 2px black;
}

.homeLink:hover {
    transform: scale(1.2);
}

.gamesContainer {
    border: solid 1px black;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/gamesbackground.jpg');
}

.reviewsContainer {
    border: solid 1px black;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/reviewsbackground.avif');
}

.addContainer {
    border: solid 1px black;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/addbackground.webp');
}

/* END OF HOME PAGE STYLING */

/* review form styling */

.homeForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    padding: 15px;
    margin: 10px;
    gap: 10px;
    background-color: rgb(16, 15, 16);
    width: 50vw;
    border-radius: 10px;
    border: solid 2px black;
    transform: scale(0.9);
}

.nameInput {
    width: 8em;
}

/* end of form styling */

/* start of games page styling */

.displayedGames {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(95, 160, 121);
    border-radius: 20px;
    width: 90vw;
    border: white solid 2px;
}

.displayedGames:hover {
    transform: scale(1.1);
}

.displayedGameLink {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.gamesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.gameContent {
    height: 80vh;
    width: 100vw;
    background-image: url('src/assets/gamesbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gameContent a {
    margin: 15px;
}

.gameContent h1 {
    color: white;
    margin-bottom: 10px;
    text-decoration: underline;
}

.eachGameContent {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color: rgb(95, 160, 121);
    border: 2px solid white;
    transform: scaleY(1.2);
    margin: 10px;
    border-radius: 10px;
}

.eachGameContent p {
    text-align: center;
}

.backButton {
    text-align: center;
    width: 100vw;
    margin: 40px 0;
    transform: scale(1.5);
}


/* start of reviews page styling */
.reviewDiv {
    background-color: rgb(95, 160, 121);
    border-radius: 20px;
    padding: 7px;
    border: solid black 2px;
    margin: 10px;
    text-align: center;
    position: relative;
    color: white;
}

.reviewDiv button{
    position: absolute;
    left: 5px;
    top: 5px;
    font-weight: bold;
    border: 1px hidden;
    border-radius: 5px;
    background: none;
}

.reviewContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('src/assets/reviewsbackground.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

.reviewContent  h1{
    color: rgb(95, 160, 121);
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    border: solid 2px rgb(95, 160, 121);
}

/* start of add new page styling */

.addContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    height: 60vh;
    height: 90vh;
    width: 100vw;
    background-image: url('src/assets/addbackground.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.addContent h1 {
    color: white;
    background: black;
    padding: 10px;
    border: solid 2px rgb(95, 160, 121);
    border-radius: 10px;
}

.addContent form {
    transform: scale(1.4);
}

@media (min-width: 600px) {
    .landingButtons {
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
    }
    
    .homeContainer {
        height: 60vh;
    }

    .displayedGames {
        width: 40vw;
    }

    .reviewDiv {
        width: 40vw;
    }

    .reviewForm {
        width: 25vw;
        border: solid 2px rgb(95, 160, 121);
    }
}