@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Modak&family=Pixelify+Sans&family=Sniglet&display=swap');

/* HOME PAGE STYLING */

body {
    margin: 0;
    background: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: black;
}

h1 a {
    text-align: center;
    color: rgb(179, 179, 173);
    text-decoration: none;
    font-family: "Modak", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.landingButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
}

.landingButtons a {
    font-size: 2.5em;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(11, 11, 11);
    border-radius: 10px;
    border: white solid 1px;
}

.gamesLink {
    border: solid 2px black;
}

.gamesContainer {
    border: solid 1px black;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./src/assets/gamesbackground.jpg');
}

.reviewsLink {
    border: solid 2px black;
}

.reviewsContainer {
    border: solid 1px black;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./src/assets/reviewsbackground.avif');
}
/* review form styling */

.homeForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin: 10px;
    gap: 10px;
    background-color: rgb(71, 70, 72);
    width: 50vw;
    border-radius: 10px;
    border: solid 2px black;
    transform: scale(0.9);
}

.nameInput {
    width: 8em;
}

/* end of form styling */

/* start of games page styling */

.displayedGames {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayedGameLink {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

/* start of reviews page styling */
.reviewDiv {
    background-color: rgb(131, 179, 221);
    border-radius: 20px;
    padding: 7px;
    border: solid black 2px;
    margin: 10px;
    text-align: center;
    position: relative;
    color: white;
}

.reviewDiv button{
    position: absolute;
    left: 5px;
    top: 5px;
    font-weight: bold;
    border: 1px hidden;
    border-radius: 5px;
    background: none;
}

/* END OF HOME PAGE STYLING */